<!--
		This is the Calorie page. On this page
		the user will be able to add to the calories
		they have consumed during the day
		** Ran out of time to add in
			naming your own foods
-->

<ion-view  view-title="Calories">
	
	<!-- Add button for adding a new food Item -->
	<ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="addNewFoodItem()">
			  Add
        </button>
	</ion-nav-buttons>
	
	<ion-content>
		
		<!-- Heading -->
		<div class="item item-divider"> 
          <span style="font-size: 100%">Food Items</span>
	  	</div>
		
		<!-- Display food items -->
		<ul class="list">
    		<li class="item" ng-repeat="foodItem in foodItems">
				<b>{{foodItem.name}}</b><br/> <b>Calories:</b> {{foodItem.calories}}
    		</li>
		</ul>
		
		<!-- Save edited food items -->
		<div style="padding: 1%">
			<button class="button button-full button-positive" ng-click="saveAndExit()">
				Save And Go To Home
			</button>
		</div>
		
		<!-- Delete button to delete all food items -->
		<div style="padding: 1%">
			<button class="button button-full button-positive" ng-click="showConfirm()">
				Delete All Food Items
			</button>
		</div>
		
	</ion-content>
</ion-view>