<!--
		This is the Calorie page. On this page
		the user will be able to add to the calories
		they have consumed during the day
		** Ran out of time to add in
			naming your own foods
-->

<ion-view  view-title="Calories" ng-init="Icon = 'ion-fork'; Food = 'Tea, Whole Milk'; Caleries = 22">
	
	<!-- Add button for adding a new food Item -->
	<ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="addNewFoodItem(Icon, Food, Caleries)">
			  Add
        </button>
	</ion-nav-buttons>
	
	<ion-content>
		
		<!-- Heading -->
		<div class="item item-divider"> 
			<div class="row">
				<div class="col col-50">Name</div>
				<div class="col col-50">Calories</div>
			</div>
		</div>
		
		<!-- Display food items -->
		<ion-list>
			<ion-item class="item-icon-left" ng-repeat="foodItem in foodItems">
				<div class="row">
					<!-- Food Name -->
					<div class="col col-50">
						<i class="icon {{foodItem.icon}}"></i>
						<label class="item-text-wrap">{{foodItem.name}}</label>
					</div>
					<!-- Food Calories -->
					<div class="col col-50">
						<label class="item-text-wrap">{{foodItem.calories}}</label>
					</div>
				</div>
			</ion-item>
		</ion-list>
		
		<!-- Save edited food items -->
		<div style="padding: 1%">
			<button class="button button-full button-positive" ng-click="saveAndExit()">
				Save And Go To Home
			</button>
		</div>
		
		<!-- Delete button to delete all food items -->
		<div style="padding: 1%">
			<button class="button button-full button-positive" ng-click="showConfirm()">
				Delete All Food Items
			</button>
		</div>
		
	</ion-content>
</ion-view>