<ion-view  view-title="Home">
	<ion-content>
		<div class="item item-divider"> 
			Hello, {{user.name}}.
		</div>
	
		<!-- Display user's daily calorie needs -->
		<ul class="list">
			<li class="item">
				<b>Your Calories:</b> {{user.calsConsumed}} / {{user.dailyCals}}
    		</li>
			<div class="item item-divider"> 
				Calorie Breakdown:
			</div>
    		<li class="item">
				<b>Your Daily Calorie Needs:</b> {{user.dailyCals}}
    		</li>
			<li class="item">
				<b>Calories Consumed Today:</b> {{user.calsConsumed}}
    		</li>
			<li class="item">
				<b>Calories Left For Today:</b> {{user.dailyCals - user.calsConsumed}}
    		</li>
		</ul>
	</ion-content>
</ion-view>